{% load static %}
 {% block html%}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% block header %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/favicon.png'%}"
    />
    <title>ACMENP</title>
    <!-- Custom CSS -->
    <link
      href="{% static 'assets/libs/flot/css/float-chart.css'%}"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css'%}" rel="stylesheet" />
    <link href="{% static 'dist/css/custom.css'%}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_style %}{% endblock extra_style %}
  </head>
  {% endblock header %} {% block body %}

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {% comment %} <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div> {% endcomment %}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      {% include 'SchoolApp/includes/header.html' %}
      {% include 'SchoolApp/includes/sidebar.html' %}
      {% block content %}{% endblock content %}
    </div>
    
    {% block script %}
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js'%}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js'%}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js'%}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js'%}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js'%}"></script>
    <!--This page JavaScript -->
    <!-- <script src="{% static 'dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'assets/libs/flot/excanvas.js'%}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.js'%}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.pie.js'%}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.time.js'%}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.stack.js'%}"></script>
    <script src="{% static 'assets/libs/flot/jquery.flot.crosshair.js'%}"></script>
    <script src="{% static 'assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js'%}"></script>
    <script src="{% static 'dist/js/pages/chart/chart-page-init.js'%}"></script>
    <script src="dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="assets/extra-libs/DataTables/datatables.min.js"></script>
    <script >
      $("#seeAnotherField").change(function() {
        if ($(this).val() == "Father") {
          //$('#UniformField').show();
          
          $('#Father').hide();
          $('#Mother').show();
        }
        else if ($(this).val() == "Mother") {
         // $('#Mother').show();
         // $('#ProductName').attr('required', 'This field is required.');
          $('#Mother').hide();
          $('#Father').show();
          
        }
       
        else {
          $('#Mother').show();
          $('#Father').show();
         
        }
      });
      $("#seeAnotherField").trigger("change");
    
      $("#Programme").change(function() {
        if ($(this).val() != "") {
          //$('#UniformField').show();
          Programme = $(this).val();
          $('#ClassLevel').show();

        
        }
        else {
          $('#ClassLevel').hide();
         
        }
      });
      $("#Programme").trigger("change");
   
      $("#Category").change(function() {
        if ($(this).val() != "") {
          Category = $(this).val();
          $('#SizeField').attr('required', 'Size is required.');
          $('#ColorField').attr('required', 'Color is required.');
          $('#AgeOrClass').show();
          $('#Color').show();
          $('#Size').show();
        
        }
        else {
          $('#AgeOrClass').hide();
          $('#Color').hide();
          $('#Size').hide();
        }
      });
      $("#Category").trigger("change");
   
    </script>   
    {% block extra_script %}
    
    {% endblock extra_script %}
    {% endblock script %}

  </body>
  {% endblock body %} 
</html>
{% endblock html %}