{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Dashboard</h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                 Delete Member
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
     <div class="row">
       <div class="col-6">
        <p >Are you sure you want to delete " {{item}}"?</p>
        <div class="row">
          <div class="col-3">
            <a href="{% url 'Member' %}" class="btn btn-primary  ">Cancel</a>
         
          </div>
          <div class="col-9">
         
            <form method="POST" action="">
                {% csrf_token %}
                <input type="submit"  class="btn btn-danger "></input>
            </form>
          </div>
      </div>

       

     </div>
      
    </div>
    {% include 'SchoolApp/includes/footer.html' %}
  </div>
{% endblock content %}
    
    


