{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Create Subject </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                 Create Subject
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      {% include 'SchoolApp/includes/messages.html' %}
     <div class="row">
      <div class="col-md-6">
        <div class="card">
            <form method="POST" class="form-horizontal">
              {% csrf_token %}
                <div class="card-body">
                    
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Subject Name</label>
                        <div class="col-sm-9">
                          {% render_field form.Name placeholder=form.Name.label class+="form-control"  %}
                        </div>
                    </div>

                    <div class="form-group row">
                      <label for="fname" class="col-sm-3 text-right control-label col-form-label">Code</label>
                      <div class="col-sm-9">
                        {% render_field form.Code placeholder=form.Code.label class+="form-control"  %}
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Type</label>
                    <div class="col-sm-9">
                      {% render_field form.Type placeholder=form.Type.label class+="form-control"  %}
                    </div>
                  </div>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-3 text-right control-label col-form-label">Status</label>
                      <div class="col-sm-9">
                        {% render_field form.Status placeholder=form.Status.label class+="form-control"  %}
                      </div>
                    </div>
                    
                </div>
                <div class="border-top">
                  <div class="card-body">
                    <button type="submit" name="save_and_add" class="btn btn-info">Save and Add new</button>
                    <a href="{% url 'Subject' %}" type="submit" class="btn btn-danger">Close</a>
                  </div>
              </div>
            </form>
        </div>

     </div>
    </div>
    </div>
    {% include 'SchoolApp/includes/footer.html' %}
  </div>
{% endblock content %}
    
    


